:root {
    --color-purple: #6600ff;
    --color-dark: #070707;
    --color-yellow: #ffc107;
    --color-light: #e1e8eb;
}

body {
    font-family: "Jost", sans-serif;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 20%, rgba(94, 0, 236, 1) 100%);
}

.height-100 {
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

.bg-dark {
    background-color: var(--color-dark) !important;
}

.bg-purple {
    background-color: var(--color-purple) !important;
}

.bg-yellow {
    background-color: var(--color-yellow) !important;
}

.text-purple {
    color: var(--color-purple);
}

.text-yellow {
    color: var(--color-yellow);
}

.raio {
    color: var(--color-yellow);
}

.navbar-brand,
.nav-link {
    color: var(--color-purple) !important;
    transition: .5s;
}

.nav-link {
    font-size: 1.2rem;
}

.navbar-brand:hover,
.nav-link:hover {
    color: var(--color-yellow) !important;
}

.text-light {
    color: var(--color-light);
}

.bi-filter-right {
    color: var(--color-purple);
}

.navbar-toggler {
    box-shadow: none !important;
}

.dropdown-item {
    color: var(--color-yellow);
}

.dropdown-item:hover {
    background-color: var(--color-yellow);
    color: var(--color-dark);
}

.carousel {
    max-width: 52%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.text-shadow {
    text-shadow: 3px 3px 5px rgb(0, 0, 0);
}

.paragrafo {
    text-wrap: balance;
}

footer {
    min-height: 15vh;
    border-top: 2px solid var(--color-yellow);
}

.btn-outline-yellow {
    border: 1px solid var(--color-yellow);
    background-color: var(--color-yellow);
    color: var(--color-dark);
}

.btn-outline-yellow:hover {
    border: 1px solid var(--color-yellow);
    color: var(--color-yellow);
}

.equipe__image {
    border: 3px solid var(--color-yellow);
    height: 200px;
    width: 200px;
}

.equipe__image-1 {
    background-image: url(../images/profile-davi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.equipe__image-2 {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}

.equipe__image-3 {
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}

.equipe__image-4 {
    background-image: url(../images/profile-gabriel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-hardware {
    padding: 0 8rem;
}

textarea {
    resize: none;
    height: 150px;
}

.btn-dark {
    background-color: var(--color-dark);
}

button:hover {
    color: var(--color-purple) !important;
}

#contato {
    margin-top: 10rem;
    margin-bottom: 5rem;
}

.mt-10 {
    margin-top: 10rem;
}

.m-footer {
    margin-top: 1.75rem;
    gap: 45rem;
}

footer a:hover {
    color: var(--color-purple);
    transition: .5s;
}

@media (width < 576px) {
    .grid-hardware {
        padding: 0 4rem;
    }
}
